<div class="container center">
  <% if user_signed_in? %>
    <h1>Welcome to Airbnb!</h1>
    <%= link_to 'Add accommodation', new_accommodation_path, class: 'btn btn-primary' %>
    <%= link_to 'See accommodations', accommodations_path, class: 'btn btn-success' %>
  <% else %>
    <%= link_to 'Log in', user_session_path, class: 'btn btn-success' %>
    <p>email: <strong>user@user.com</strong></p>
    <p>password: <strong>password</strong></p>
  <% end %>
</div>