
  <div class="col-md-12">
    <h3 class="title-comment">Review (<%= "#{@accommodation.comments.count}" %>)</h3>
  </div>
  <div class="col-md-12">
<% if @comments.any? %>
  <ul class="comments">
    <%= render @comments %>
  </ul>
  </div>
<% end %>