<%= link_to "/favorites/#{@accommodation.id}/create",
            method: :post,
            class: 'like',
            remote: true do %>
  <div class="like-btn-like"><i class="fa fa-heart"></i> Add to favorite?</div>
<% end %>
