<div id="favorite-<%= @accommodation.id %>">
  <% if !current_user.nil? && current_user.favorite?(@accommodation) %>
    <%= render 'users/unfavorite' %>
  <% else %>
    <%= render 'users/favorite' %>
  <% end %>
</div>