<%= link_to "/favorites/#{@accommodation.id}/destroy",
            method: :delete,
            class: 'unlike',
            remote: true do %>
  <div class="like-btn-unlike"><i class="fa fa-heart"></i> Remove from favorite?</div>
<% end %>