<footer>
  <div class="container">
    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <%= cl_image_tag src="https://res.cloudinary.com/dq6gibxhn/image/upload/v1604716098/ba0fdwejowiolih916xo.png", height: 30, width: 70, crop: :fill %>
          <small class="block">&copy; 2020 AirbnbTest by Marisa Tsubokura.</small>
          <a href="https://github.com/Marisa090588T/airbnb"><i class="fab fa-github"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>